* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 100vh;
  background: #6c38d3;
}

li {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8rem;
  padding-top: 3rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.nav-links li:first-child a:first-child {
  color: rgb(123, 235, 255);
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.nav-btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background: #0ea4bb;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 10rem;
  gap: 8rem;
  color: #fff;
}
.hero-left {
  flex: 0.7;
}

.hero-right {
  flex: 1;
}
.hero-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.hero-desc {
  line-height: 1.4;
  font-size: 1.1rem;
}

.section2 {
  display: flex;
  margin: 2rem 8rem;
}

.left {
  flex: 1.3;
}
.right {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right > h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.list-conatiner {
  display: flex;
  flex-direction: column;
}

.list {
  width: 90%;
}

.list-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2.3rem 0 0.6rem;
}

.list-description {
  color: rgb(99, 99, 99);
  margin-left: 28px;
}

.card-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2rem 8rem 8rem;
  text-align: center;
}
.best-feature-heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.img-container {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #e4cac5;
  display: grid;
  place-content: center;
  margin: 2rem;
}

.img-container img {
  width: 60px;
}

.card-text {
  background: #9638d9;
  padding: 1rem;
  border-radius: 20px 20px 5px 5px;

  color: #fff;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cont2 {
  background: #c3bef257;
}
.cont3 {
  background: #bcd9ba;
}
.cont4 {
  background: #c49aff;
}
